.banner-hero-slider {
  display: flex;
  height: 500px;
  align-items: center;
  background-color: var(--color-blue);
  position: relative;
  overflow: hidden;
}

.content-banner-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 2;
}

.content-banner-text .banner-categoria,
.content-banner-text .banner-titulo,
.content-banner-text .banner-excerpt {
  transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
  opacity: 1;
}

.content-banner-text.fade-out .banner-categoria,
.content-banner-text.fade-out .banner-titulo,
.content-banner-text.fade-out .banner-excerpt {
  opacity: 0;
  transform: translateY(10px);
}

.banner-categoria {
  color: #fff;
  font-size: 1.1em;
  font-weight: 300;
}

.banner-titulo {
  color: #fff;
  font-size: 2em;
}

.banner-excerpt {
  color: #fff;
  font-size: 1.1em;
  font-weight: 300;
}

.content-banner-text > a {
  text-decoration: none;
  font-size: 1.2em;
  color: #fff;
  border: 1px solid #fff;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  transition: 0.9s;
}

.content-banner-text > a:hover {
  background-color: #fff;
  color: var(--color-blue);
}

.banner-img-content {
  background-size: cover;
  background-position: center;
  height: 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 10px;
  transition: background-image 1s ease-in-out;
  position: relative;
}

.banner-img-content::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0, 0, 0, 0.4); /* camada escura real */
  z-index: 1;
}

.btn-option-slide {
  display: flex;
  gap: 10px;
  cursor: pointer;
  z-index: 2;
}

.arrow-prox-slide {
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  justify-content: space-between;
  width: 150px;
}

.btn-stop-play-slide {
  display: flex;
  border: 1px solid #fff;
  padding: 10px 20px;
  align-items: center;
  gap: 10px;
  transition: all 0.6s ease;
  cursor: pointer;
  color: #fff;
  z-index: 2;
}

.btn-stop-play-slide:hover {
  color: var(--color-blue);
  background-color: #fff;
}

/* RESPONSIVO */
@media (max-width: 900px) {
  .banner-hero-slider {
    flex-direction: column;
    height: auto;
  }

  .content-banner-text {
    padding: 20px;
    text-align: center;
    align-items: center;
  }

  .banner-img-content {
    width: 100%;
    height: 300px;
    align-items: flex-end;
    justify-content: center;
  }

  .btn-option-slide {
    justify-content: center;
    margin-bottom: 10px;
  }
}
