.post_page_container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 60px;
  margin-top: 60px;
}

.breadcrumb ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  font-size: 0.9em;
  gap: 10px;
  color: #888;
  margin-bottom: 25px;
}

.breadcrumb li::after {
  content: "›";
  margin: 0 8px;
  color: #bbb;
}

.breadcrumb li:last-child::after {
  content: none;
}

.breadcrumb a {
  color: #555;
  text-decoration: none;
}
.single_post_article {
  margin-bottom: 20px;
}
.single_post_article h1 {
  font-size: 2.4em;
  color: var(--color-blue);
  margin-bottom: 25px;
}

.post_thumbnail img {
  width: 100%; /* Mantém o preenchimento do container */
  height: 500px; /* Altura fixa */
  object-fit: cover; /* Mantém o corte proporcional, sem distorcer */
  display: block;
}

.post_text {
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #333;
  line-height: 1.8;
}

.post_text a {
  text-decoration: none;
  font-weight: 600;
}

.post_sidebar {
  position: sticky;
  top: 120px;
  height: fit-content;
}

/* Responsivo */
@media (max-width: 1024px) {
  .post_page_container {
    grid-template-columns: 1fr;
  }

  .post_sidebar {
    position: relative;
    top: unset;
    margin-top: 40px;
  }
}
